/* main */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import "bootstrap";
@import 'mixins';
@import 'layout_default';
@import 'animate';


.container-fluid.dark-blue {
	background:#2C3E50;
	color:#fff;
	min-height: 300px;
	padding:10px;
}
.container-fluid.light-grey {
	background:#F8F8F8;
}
.middle {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	padding:20px;
	@include mobile {
		position:relative;
		transform:none;
		top:initial;
	}
}
nav {
	text-align:left;
	li {
		list-style:none;
		display:inline-block;
		padding:10px 5px 0px 10px;
		cursor:pointer;
		border-bottom:2px solid transparent;
		margin:0px 15px;

		&:hover {
			border-bottom:2px solid #fff;
		}
		&.logo:hover {
			border-bottom:2px solid transparent;
		}
		&.logo {
			cursor:default;
		}
	}

	@include mobile {
		li {
			display:none;
		}
		li.logo {
			display:block;
			width:100%;
			text-align:center;
			padding:40px 0px 0px 0px;
			margin:0px;

			img {
				margin:0px auto;
				display:block;
				// left:-12px;
				position:relative;
			}
		}
	}
}

.intro .profile {
	border-radius:50%;
	width:300px;
	height:300px;
	overflow:hidden;
	margin:0px auto;
	display:block;
	position:relative;
	margin-top:-210px;
	// background:blue;
	@include bg-cover('./../images/profile.jpg', null);
	@include sm-mobile {
		width:250px;
		height:250px;
	}
}

.intro .btn.cta {
	position:absolute;
	right:0px;
	top:-110px;
	background:#E74C3C;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);

	&:hover {
		background:#c0392b;
	}
	@include mobile {
		position:relative;
		right:initial;
		top:initial;
	}
}

.work a {outline:none;}
.work .site {

	margin:20px auto;
	@include tablet {
		width:50%;
	}
	@include mobile {
		width:100%;
	}
	.view{
		background:#D8D8D8;
		border:1px solid #ccc;
		width:300px;
		height:300px;
		margin:0px auto;
		cursor:pointer;
		@include sm-mobile {
			width:250px;
			height:250px;
		}

		&.vacation-equation {
			@include bg-cover('./../images/sites/vacation-equation-desktop.jpg', 50% 40%);
			@include mobile { 
				background-image:url('./../images/sites/vacation-equation-mobile.jpg');
			}
		}
		&.primary-home {
			@include bg-cover('./../images/sites/primary-home.jpg', 50% 40%);
			@include mobile { 
				background-image:url('./../images/sites/primary-home-mob.jpg');
			}
		}
		&.mmn {
			@include bg-cover('./../images/sites/mmn-desktop.jpg', 50% 40%);
			@include mobile { 
				background-image:url('./../images/sites/mmn-mobile.jpg');
			}
		}
		&.monstermas {
			@include bg-cover('./../images/sites/monstermas-desktop.jpg', 50% 40%);
			@include mobile { 
				background-image:url('./../images/sites/monstermas-mobile.jpg');
			}
		}
		&.picsol {
			@include bg-cover('./../images/sites/picsol-desktop.jpg', 50% 40%);
			@include mobile { 
				background-image:url('./../images/sites/picsol-mobile.jpg');
			}
		}
		&.destination-races {
			@include bg-cover('./../images/sites/destination-races-desktop.jpg', 50% 40%);
			@include mobile { 
				background-image:url('./../images/sites/destination-races-mobile.jpg');
			}
		}
	}

}
.experience {
	.poe {
		margin-top:30px;
		outline:none;

		span.title {
			font-size:6rem;
			color:#fff;
			font-weight:700;
			overflow:visible;
			-webkit-text-stroke: 3px #9B59B6;
			-webkit-text-fill-color: #ffffff;
			background: -moz-linear-gradient(left,  #fff,  #9B59B6);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#9B59B6'); 
		}
	}

}
.form {

	.thanks  {
		padding:50px 0px;
	}

	@include bg-cover('./../images/form-bg.jpg', null);
	.form-cont {
		margin-top:-80px;
		background:#fff;
		padding:50px;
		box-shadow:0px 2px 4px rgba(0,0,0,0.5);

		@include mobile {
			padding:20px;
		}

		h2 {
			margin-bottom:50px;
			display:block;
			text-align:center;
		}
	}
	.col-sm-6 {
		position: relative;
		@include mobile {
			width:100%;
		}


	}
	form {
		input, textarea {
			width:100%;
			border-radius:10px;
			border:1px solid #CCCCCC;
			font-size:2.2rem;
			margin:5px 0px;
			padding:10px;
			outline:none!important;
			@include placeholder {
				color:#CCCCCC;
				font-size:1.5rem;
				transition:all 0.2s ease-in;
			}

			&.error {
				border-color:#e74c3c;
			}

			&#optOut{
				display:block;
				position:absolute;
				left:0px;
				top:50%;
				margin-top:-5px;
				z-index:2;
				width:auto!important;
				@include mobile {
					left:0px;
					width:auto!important;

				}
				@include tablet {
					left:0px;
					width:auto!important;
				}
			}
		}
		label {
			text-align:left!important;
			display:block;
			width:100%;
			padding-left:30px;
			position:relative;
			margin:5px 0px;
		}
		.relative {
			position:relative;
		}
		input {
			position:relative;
			padding-top:0px;
			padding-bottom:20px;
			transition:all 0.2s ease-in;

			&.focus {
				padding-top:10px;
				padding-bottom:10px;
				@include placeholder {
					color:#CCCCCC;
					font-size:2.2rem;
				}
			}
		}
		textarea {
			resize:none;
		}
	}
	.cta {
		transition:all 0.2s ease-in;
		float:none;
		display:inline-block;
		position:relative;
		left:50%;
		transform:translateX(-50%);
		img {
			height:26px;
			position:relative;
			top:-3px;
			margin-left:10px;
			transition:all 0.2s ease-in;
		}
		&:hover {
			margin-left:10px;
			text-decoration:none;
			img {
				margin-left:20px;
			}
		}
		@include mobile {
			width:100%;
		}
	}
}
.slick-slide {
	height:auto!important;
	outline:none!important;
	&:focus {
		outline:none!important;

	}
}
.mob-nav-btn, .mob-nav {
	display:none;
	@include mobile {
		display:block;
	}
}
.mob-nav-btn {
	position:fixed;
	top:50px;
	right:-20px;
	color:#fff;
	border-radius:100px;
	background:#333;
	padding:10px;
	padding-right:50px;
	z-index:8;
	box-shadow:0px 2px 4px rgba(0,0,0,0.5);
	cursor:pointer;
}
.mob-nav {
	width:300px;
	box-shadow:0px 2px 4px rgba(0,0,0,0.5);
	position:fixed;
	z-index:5;
	top:0px;
	left:0px;
	height:100%;
	background:#fff;
	padding:80px 20px 0px 20px;
	transform:translateX(-300px);
	transition:all 0.2s ease-in;
	&.open {
		transform:translateX(0);
	}

	li {
		cursor:pointer;
		text-align:right;
		top:50px;
		position:relative;
		list-style:none;
		padding:12px 0px;
	}
}
.hidden {
	display:none;
}
.skills {
	padding-bottom:150px!important;

	.skill {
		padding:10px 20px;
		border:1px solid #9B59B6;
		color:#9B59B6;
		display:inline-block;
		margin:10px;
		border-radius: 100px;
		font-size: 2.2rem;

		&.tool {
			border:1px solid #22621A;
			color:#22621A;
		}
		&.be {
			border:1px solid #5B59B6;
			color:#5B59B6;
		}
		&.pattern {
			border:1px solid #B65959;
			color:#B65959;
		}
		&.design {
			border:1px solid #59ADB6;
			color:#59ADB6;
		}
	}
}