
.get-in-touch { @include bg-cover('/images/form-bg.jpg', null); }

.get-in-touch__form-wrapper {
	margin-top: -80px;
	background: #fff;
	padding: 50px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .5);

	@include mobile { padding: 20px; }
}

.get-in-touch__title {
	margin-bottom: 50px;
	display: block;
	text-align: center;
}