<html>
<head>
	<title>Craig Pullar | Portfolio </title>
	<meta name="description" content="The portfolio of Craig Pullar. Here you will find examples of work and information on experience and how to get in touch.">
	<link rel="stylesheet" href="/css/deploy.css">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	{{{content}}}
	<script src="/js/deploy.js"></script>
</body>
</html>